extend layout

block head
  script(type='text/javascript', src='/javascripts/controllers/dealControllers.js')
block content
  div.row.col-md-8
    h2 Sizzling Offers!
    div.container.col-md-offset-1(ng-controller="dealController")(ng-cloak)
      div.row.panel.panel-info(ng-repeat="deal in deals")
        div.panel-heading
          h3.panel-title {{deal.desc1}} 
        div.panel-body
          {{deal.desc2}} - 
          a(href='{{deal.url}}') {{deal.name}}
          p
            | Sale: {{deal.price}} MSRP: {{deal.msrp}}
            br
            | {{deal.item}}
            | {{deal.type}}
            br
            img(src='{{deal.img}}')
            br
            | {{deal.desc3}}

  div#sidebar.sidebar.col-md-3
    .widget
      h4 Donate Widget
      p
        | Some donate widget... neque eu tellus rhoncus ut
        | eleifend nibh porttitor. Ut in nulla enim.
      
      p
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula.

    br 
    div.widget(ng-controller="dealController")(ng-cloak)
      h4 Cool Amazon Products
      div(ng-repeat="amazon in amazonImageURLs")
        a(href='{{amazon.DetailPageURL}}') 
          {{amazon.Title}}
          br
          | Price: {{amazon.Price}}
          img(src="{{amazon.MediumImage}}")
        hr

    br
    .widget
      h4 Advertisement
      <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=perssite083-20&o=1&p=42&l=ur1&category=gold&banner=130ACW5000ZJ9DS5Q3R2&f=ifr" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

