extend layout

block head
  script(type='text/javascript', src='/javascripts/controllers/dealControllers.js')
block content
  div.row.col-md-8
    h2 Sizzling Offers!
    div.container.col-md-offset-1(ng-controller="dealController")(ng-cloak)
      div.row.panel.panel-info(ng-repeat="deal in deals")
        div.panel-heading
          h3.panel-title {{deal.desc1}} 
        div.panel-body
          {{deal.desc2}} - 
          a(href='{{deal.url}}') {{deal.name}}
          p
            | Sale: {{deal.price}} MSRP: {{deal.msrp}}
            br
            | {{deal.item}}
            | {{deal.type}}
            br
            img(src='{{deal.img}}')
            br
            | {{deal.desc3}}

  div#sidebar.sidebar.col-md-3
    .widget
      h3 Donate Widget
      p
        | Some donate widget... neque eu tellus rhoncus ut
        | eleifend nibh porttitor. Ut in nulla enim.
      
      p
        | Vivamus hendrerit arcu sed erat molestie
        | vehicula.

    br 
    .widget
      h3 Advertisement
      p
        img(src="http://24.media.tumblr.com/tumblr_m0v8v2HrwI1qz4hvyo1_250.gif")