!!!5
html
  head
    title Home - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebarDonate
        br
        block sidebarAds
    footer
      p Running on node with Express, Jade and Stylus