doctype
html(ng-app)
  head
    title Home - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')    
    link(rel='stylesheet', href='/javascripts/vendor/bootstrap-css/css/bootstrap.css')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')

    block head
  body
    header
      h1 #{title}
    .container
      .row
        block content
      //.sidebar
      //  block sidebar
    footer
      .row.col-md-10.col-md-offset-1
          hr
          p About Us