!!!5
html
  head
    title #{title} - Look at me bitch!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Look at me, bitch!
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus