doctype
html(ng-app)
  head
    title Home - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(type='text/javascript', src='/javascripts/vendor/angular/angular.js')

    block head
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebarDonate
        br
        block sidebarAds
    footer
      p Running on node with Express, Jade and Stylus