!!!5
html
  head
    title #{title} - Ryan is a loser.com!
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Ryan is a loser.com!
    .container
      .main-content
        block content
      .sidebar
        block sidebarDonate
        br
        block sidebarAds
    footer
      p Running on node with Express, Jade and Stylus